body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h1 { color: #333; }

.form input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
